/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #043049;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #f0efef;
}

a {
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: auto;
}

.logo {
  font-size: 48px;
  font-weight: 800;
}

header {
  background-color: #033048;
  color: white;
  height: 115px;
}

header .logo {
  float: left;
  display: inline;
  margin-top: 20px;
}

header nav {
    margin-right: 80px;
}

header nav ul li {
    margin: 0;
    margin-top: 23px;
    padding: 0;
    display: block;
    list-style-type: none;
    float: right;
}

header nav a {
    display: block;
    color: #f8e53b;
    padding: 10px 15px;
    text-decoration: none;
}

#main {
  margin-top: 80px;
  height:1750px;
}

#posts {
  width: 700px;
  display: inline-block;
  vertical-align: top;
  background-color: #F0EFEF;
  float: left;
  margin-right: 20px;
}

#sidebar {
  width: 240px;
  display: inline-block;
  vertical-align: top;
}

.post {
  border-bottom: 1px solid #043049;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.dropcap::first-letter{
  float:left;
  font-size:70px;
  font-weight:900;
}


h2 {
  color: #043049;
  font-weight: 600;
  font-size: 40px;
  margin-bottom:40px;
  line-height: 1.3;
}

h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #043049;
}
.post img {
  margin-bottom: 30px;
}

.post p {
  font-size:24px;
  line-height: 1.3;
  color: #606161;
}

.readmore {
  text-align: right;
  margin-top: 30px;
}

.readmore a {
  color: #043049;
  font-weight: 600;
  text-decoration: none;
}

.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.blue {
  background: #033048;
  color: #ffffff;
  font-size: 24px;
}

.yellow {
  color: ##f9e42;
}

#sidebar p {
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 40px;
}

#sidebar ul {
  margin-bottom: 40px;
  list-style: none;
}

#sidebar li a {
  text-decoration: none;
  color: #043049;
  font-size: 24px;
}

#sidebar p a {
  color: #043049;
  font-weight: 600;
  text-decoration: none;
}

#bottom-cta {
  background: #f9e42e;
  padding: 30px;
  text-align: center;
  margin-top: 50px;
}

footer {
  background-color: #0B0E0E;
  color: white;
  height: 400px;
  padding: 65px 0 45px;
  text-align:center;
}

footer .logo {
  color: #f9e42e;
  margin-bottom: 68px;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}

footer p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
